@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Inter Tight", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* webkit solution */
::-webkit-input-placeholder {
  text-align: right;
}

body {
  background: linear-gradient(90deg, #638475, #17486c);
  color: white;
}

h2 {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #17486c, #738348, #fbde65);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flow 5s ease-in-out infinite;
}

@keyframes flow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
