@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Inter Tight", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* webkit solution */
::-webkit-input-placeholder {
  text-align: right;
}

body {
  background: linear-gradient(90deg, #638475, #17486c);
  color: white;
}

h1 {
  margin: 0px;
  padding: 20px 0px;
  font-size: 108px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #17486c, #738348, #fbde65);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flow 5s ease-in-out infinite;
}

@keyframes flow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #17486c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #17496cde;
}

@media only screen and (max-width: 600px) {
  
  .webpage-background h1 {
      font-size: 48px; 
      padding: 10px; 
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  
  .webpage-background h1 {
      font-size: 64px; 
  }
}

@media only screen and (min-width: 769px) {
  
  .webpage-background h1 {
      font-size: 80px; 
  }
}
