@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* webkit solution */
::-webkit-input-placeholder { 
  text-align:right; 
}


/* Navbar Content */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
}

.nav-title {
  font-size: larger;
  font-weight: 900;
}

.nav-title a {
  color: #B95F89;
}

.nav-item {
  display: block;
  margin-left: auto;
  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  width: 16em;
  height: 16em;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 20px;
}


.login-form label {
  margin: 2px;
}


.login-form button {
  width: 80%;
  font-size: 40;
  background: limegreen;
  color: black;
  border-radius: 20px;
}

.login-form button:hover {
  opacity: 80%;
}
