.currency-exchange-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    background-color: #4d4d4d;
    color: white;
    box-shadow: 7px 5px 5px black;
    width: 20%;
}
  
.currency-exchange-card:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 10px black;
  transition: all 0.3s ease-in-out;
}

.currency-exchange-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.currency-exchange-type {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.currency-exchange-amount {
  font-weight: bold;
  text-align: center;
}

.return-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  color: white;
  border-radius: 5px;
  padding: 40px 40px 20px 40px;

  /* Gradient and animation */
  background: linear-gradient(270deg, #4d4d4d, #6d6d6d);
  background-size: 400% 400%;
  animation: flow 8s ease infinite;
}
  
  /* Animation keyframes */
@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
.return-display:hover {
  transform: scale(1.01);
  box-shadow: 2px 5px 5px black;
  transition: all 0.3s ease-in-out;
}
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .currency-exchange-card {
    width: 90%;
  }

  .return-display {
    width: 90%;
  }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .currency-exchange-card {
    width: 100%;
  }

  .return-display {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .currency-exchange-card {
    width: 50%;
  }

  .return-display {
    width: 80%;
  }
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .currency-exchange-card {
    width: 20%;
  }

  .return-display {
    width: 80%;
  }
}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .currency-exchange-card {
    width: 20%;
  }

  .return-display {
    width: 80%;
  }
}
  