/* Footer Styling */

.footer {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: white;
    color: black;
  }