/* Navbar Styling */

.navbar-financeflow-logo {
  width: 30px;
  height: 30px;
}

.navbar-background {
  background: linear-gradient(90deg, #638475, #17486c);
}

.navbar-color {
  color: white;
}

.navbar-nav .active {
  color: red;
}
